<section class="profile highlight">
  <h1><%= user.name %></h1>
  <div class="contact-info">
    <%= user.email %>
     | <%= user.phone %>
     | <a href="<%= user.website %>"><%= user.website %></a>
  </div>

  <p><%= user.bio %></p>
</section>
