<div class="page">
  <nav>
    <a href="/" title="View resume">View</a>
    <h3>Edit My Résumé</h3>
  </nav>

  <%= erb :'partials/profile_edit' %>

  <div class="row">
    <section class="jobs two_thirds">
      <h2>Jobs</h2>
      <ul class="no_bullets no_padding">
      <% @jobs.each do |job| %>
        <li>
          <form name="edit_job" action="/jobs/edit" method="post" accept-charset="utf-8">
            <input type="hidden" name="_method" value="put">

            <input type="hidden" name="job[id]" value="<%= job.id %>">

            <input type="text" name="job[job_title]" value="<%= job.job_title %>"> at
            <input type="text" name="job[company_name]" value="<%= job.company_name %>">
            <br>

            <label for="job[job_description]">Job Description</label><br>
            <textarea name="job[job_description]"><%= job.job_description %></textarea>
            <br>

            <input type="submit" value="Save">
          </form>
        </li>
      <% end %>
      </ul>
    </section>

    <section class="skills one_third">
      <h2>Skills</h2>
      <ul class="no_bullets no_padding">
      <% @skills.each do |skill| %>
        <li>
          <form name="edit_skill" action="/skills/edit" method="post" accept-charset="utf-8" class="mini">
            <input type="hidden" name="_method" value="put">

            <input type="hidden" name="skill[id]" value="<%= skill.id %>">

            <input type="text" name="skill[name]" value="<%= skill.name %>">

            <input type="submit" value="Save">
          </form>
        </li>
      <% end %>
      </ul>
    </section>
  </div>
</div>
