<div class="page">
  <nav>
    <a href="/resumes/edit" title="Edit resume">Edit</a>
    <h3>My Résumé</h3>
  </nav>

  <section class="profile highlight">
    <h1><%= default_user.name %></h1>
    <div class="contact-info">
      <%= default_user.email %>
       | <%= default_user.phone %>
       | <a href="<%= default_user.website %>"><%= default_user.website %></a>
    </div>

    <p><%= default_user.bio %></p>
  </section>

  <div class="row">
    <section class="jobs two_thirds">
      <h2>Jobs</h2>
      <ul class="no_bullets no_padding">
      <% @jobs.each do |job| %>
        <li>
          <h4><%= job.job_title %> at <%= job.company_name %></h4>
          <p><%= job.job_description %></p>
        </li>
      <% end %>
      </ul>
    </section>

    <section class="skills one_third">
      <h2>Skills</h2>
      <ul class="no_bullets no_padding">
      <% @skills.each do |skill| %>
        <li><%= skill.name %></li>
      <% end %>
      </ul>
    </section>
  </div>
</div>
